body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    /*background: linear-gradient(135deg, #f3f4f6, #e9ecef);*/
    background-size: cover;
    font-size: 17px;
}

/* Menu de Navegação */
.barra-navegacao {
    background-color: rgba(255, 255, 255, 0.9); /* Fundo branco semi-transparente */
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 100; /* Garante que o menu fique acima do conteúdo */
}

.barra-navegacao ul {
    list-style: none; 
    display: flex; /* Exibe os itens em linha */
    justify-content: center; /* Centraliza os itens */
    margin: 0;
    padding: 0;
}

.barra-navegacao li {
    margin: 0 20px; /* Espaçamento entre os itens */
}

.barra-navegacao a {
    text-decoration: none; /* Remove o sublinhado */
    color: #7ac9a2; 
    font-weight: bold; /* Texto em negrito */
    transition: color 0.3s, transform 0.3s; /* Transição suave */
}

.barra-navegacao a:hover {
    color: #7ac9a2; /* Muda a cor ao passar o mouse */
    transform: translateY(-2px); /* Levanta um pouco o link */
}

/*cabeçalho*/
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}

header {
    margin-bottom: 40px;
}

h1 {
    font-size: 2.5em;
    color: #7ac9a2; 
}

/*Seção do conteúdo*/
.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.9); /* Fundo branco semi-transparente */
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/*Video de apresentação*/
.video-container {
    position: relative;
    padding-bottom: 100%; /* Proporção da tela do vídeo*/
    height: 0;
    overflow: hidden;   
    margin-top: 30px;
    max-width: 100%;
    display: contents;
    
}
video {     
   top: 0;
   left: 0;
   width: 100%;    
   border: none;
   border-radius: 15px;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
   max-height: 500px;
}

/*Foto sobre mim*/
.foto-sobremim{
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 30vh;     
}

/*Conteúdo da BIO*/
.texto {
    text-align: left;  
    margin-top: 30px;   
}

h2 {
    color: #7ac9a2; 
    margin-bottom: 10px;  
    /*ajuste que deve ser removido quando for trocar a foto pelo video  
    margin-top: -50px;*/
}


/* Animações de fundo gradiente*/
@keyframes backgroundAnimation {
    0% {
        background: linear-gradient(45deg, #D0E8D4, #E1F2E1, #F1F9F1);
      }
      25% {
        background: linear-gradient(45deg, #D0E8D4, #E1F2E1, #F1F9F1);
      }
      50% {
        background: linear-gradient(45deg, #E1F2E1, #F1F9F1, #D0E8D4);
      }
      75% {
        background: linear-gradient(45deg, #F1F9F1, #D0E8D4, #E1F2E1);
      }
      100% {
        background: linear-gradient(45deg, #D0E8D4, #E1F2E1, #F1F9F1);
      }
}

body {
    animation: backgroundAnimation 12s ease infinite; /* Animação de fundo suave */
    background-size: 400% 400%;
}

/*caso desejar deixar o layout responsivo a resoluções menores*/
@media only screen and (max-width:768px){
    body {font-size: 16px;

    }

}



/*ícone Whatsapp*/
.whatsapp-icon {
    position: fixed;
    bottom: 100px; 
    right: 40px;  
    background-color: #25D366; 
    color: white; 
    padding: 15px; 
    border-radius: 50%; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Sombra */
    font-size: 24px; 
    text-decoration: none; /* Remove o sublinhado do link */
}

.whatsapp-icon:hover {
    background-color: #128C7E; /* Cor ao passar o mouse */
}

/*Rodapé*/
footer {
    margin-top: 40px;
    font-size: 0.9em;
}