body{
    text-align:justify;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f5f8f2;
    margin: 0;     
    padding: 0; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 17px;       
    /*background: linear-gradient(135deg, white 0%, rgb(252, 242, 227) 100%);*/
}

h1, h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5em;    
    font-family: 'Poppins', sans-serif; 
    color: #b8e1b0; /* Verde bem suave */
}

#cabecalho-cupom{
    font-size: 2em;
    margin-top: 125px;
    margin-bottom: -25px;
}


/*Caixa de alerta com cópia do código do cupom*/
.frase-container{
    display: flex;
    align-items: center;
}

.frase-de-erro{
    font-size: 25px;
    margin-right: 10px;
}

.icon{
    width: 25px;
    height: 25px;
}

/****************************** MENU ************************/
.navbar {
    background-color: #c8e6c9; /* Verde muito suave */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 12px 0;
    border-bottom: 1px solid #a0d6a0;
    font-family: 'Poppins', sans-serif;
    
}

.navbar .bi {
    display: none !important; /* Remove ícones do menu */
}

.section-header {
    color: #c8e6c9; /* Verde pastel mais suave */
}


.navbar-nav {
    flex-direction: row;
    justify-content: center;
}

.navbar-nav a {
    color: #2e4a3f; /* Cor suave */
    text-decoration: none;
    margin: 0 18px;
    font-size: 17.5px;
    transition: color 0.3s ease;
    font-weight: 400;
}

.navbar-nav a:hover {
    color: #7bbf7b; /* Verde mais suave e delicado */
}

.navbar-nav .nav-link {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link i {
    margin-right: 8px;
}



/*******************inicio do campo de filtro************************************/
#categoria-selecionada {
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

#categoria-titulo {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    margin-left: 300px;
    font-family: 'Poppins', sans-serif;
    margin: 0 0 20px 0;
}


/* Estilo geral do filtro */
.filtro-categorias {
    position: relative;
    display: inline-block;
    font-family: Arial, sans-serif;
    margin-left: 300px;
}

/* Estilo do botão que abre o dropdown */
.filtro-categorias .dropdown {
    background-color: #c8e6c9; /* Verde muito suave */
    color: #2e4a3f; /* Cor contrastante e suave */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave */
}

/* Mudando a cor de fundo ao passar o mouse */
.filtro-categorias .dropdown:hover {
    background-color: #a0d6a0; /* Verde ainda mais suave */
    color: #2e4a3f;
}

/* Estilo da lista suspensa (dropdown) */
.filtro-categorias .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px #7ac9a2;
    z-index: 1;
    border-radius: 5px;
    padding: 10px 0;
}

/* Estilo dos itens dentro da lista suspensa */
.filtro-categorias .dropdown-content a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease; /* Transição suave para o hover */
}

/* Mudando a cor do item ao passar o mouse */
.filtro-categorias .dropdown-content a:hover {
    background-color: #ddd;
}

/* Exibindo o menu dropdown quando o botão for clicado */
.filtro-categorias .dropdown-content.show {
    display: block; /* Exibe o menu quando a classe 'show' é adicionada */
}

/*******************final do campo de filtro************************************/

/*Barra de busca*/


.busca-container {
    margin: 20px 0 0 300px;
    text-align: left;    
}

#searchInput {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cupons {
    max-width: 900px;
    margin: 0 auto; /* Centraliza a lista de cupons */
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 30px;
    
}

/*Card de cada cupom*/
.cupom {   
    width: calc(50% - 20px);
    max-width: 400px;
    min-width: 250px;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);    
    background: #e0eadf54
    
    
}

/*Ícone das páginas*/
.icon{
    width: 20px;
    height: 20px;
    padding-right: 5px;  
      
}

div p a:link{
    color: black;
    text-decoration: none;
}

div p a:visited{
    color: black;
    text-decoration: none;
}

div p a:hover{
    color: black;
    text-decoration: none;
}

.codigo-cupom{
    color: #7ac9a2;
}

/*espaçamento entre nome dos parceiros*/
.parceiro{
    margin: auto;
}

.button {
    background-color: #c8e6c9; /* Verde muito suave */
    color: #2e4a3f; /* Cor contrastante e suave */
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: 400;
    text-decoration: none;

}

.button:hover {
    background-color: #a0d6a0; /* Verde ainda mais suave */
    color: #2e4a3f;
    text-decoration: none;
}

/*Mensagem de código copiado*/
.notification {
    position: fixed;
    top: 120px;
    right: 20px;
    left: 20px;
    background-color: #7ac9a2; 
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    z-index: 1000;
    transition: opacity 1s;   
   
}

/*ícone Whatsapp*/
.whatsapp-icon {
    position: fixed;
    bottom: 100px; 
    right: 40px;  
    background-color: #25D366; 
    color: white; 
    padding: 15px; 
    border-radius: 50%; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Sombra */
    font-size: 24px; 
    text-decoration: none; /* Remove o sublinhado do link */
}

.whatsapp-icon:hover {
    background-color: #128C7E; /* Cor ao passar o mouse */
}


/*caso desejar deixar o layout responsivo a resoluções menores*/
@media only screen and (max-width:768px){
    body {font-size: 16px;

    }

    .navbar-nav a {
        font-size: 12px;
        margin: 0;
    }

    .container-fluid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-brand {
        text-align: left;
        width: 100%;
        margin-bottom: 10px;
        justify-content: right;
        text-align: center;
    }

    .nav-item {
        text-align: center;
    }

    .nav-link {
        white-space: wrap; /* Garante que os links não quebrem linha */
        padding: 5px 10px;
    }

    .cupom {
        width: calc(50% - 10px);
    }
    .busca-container {
        margin: 20px 0 0 10px;          
    }

    .btn-categoria{
        margin-left: 10px;
    }
    #categoria-titulo {        
        margin-left: 0px;
    }  
    
    .filtro-categorias {       
        margin-left: 0px;
    }

}

@media (max-width: 600px) {
    .cupom {
        width: 100%; /* Uma coluna */
    }
}


/************************************** RODAPÉ ********************************/
/*footer {

    width: 100%;
    background-color: #c8e6c9;
    color: #2e4a3f;
    padding: 30px 0;
    text-align: center;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    flex: 1;
    font-size: 16px;
    margin: 0;
    display: flex;
    flex-direction: column;
}


footer a {
    color: #2e4a3f;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}**/

.footer {
    background-color: #c8e6c9;
    color: #333;
    padding: 40px 0;
    text-align: center;
    border-top: 2px solid;
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1100px;
    margin: auto;
}

.footer-col {
    flex: 1;
    min-width: 200px;
    text-align: left;
}

.footer h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.footer ul li a:hover {
    color: #2e4a3f;
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #2e4a3f;
}

.footer-bottom a {
    font-size: 20px;
    margin: 0 10px;
    color: #2e4a3f;
    transition: 0.3s;
}

.footer-bottom a:hover {
    color: #2e4a3f;
}
